.form-check-input{
    opacity:0;
    position:absolute;
    left:9999px;
}

.form-check-input:checked + .form-check-label {
font-weight: bold;
display:block
}

.form-check-label{
outline:solid 2px;
outline-color:currentcolor;
-moz-border-radius: 0.2rem;
-webkit-border-radius: 0.2rem;
border-radius: 0.2rem;
padding:3px;
}


.A9:checked + .A9_label{
background-color: #F4D03F;
}
.A9_label{
background-color: #FCF3CF
}

.A10:checked + .A10_label{
background-color: #52BE82;
}
.A10_label{
background-color: #D4EFDF;
}

.A19:checked + .A19_label{
background-color: #EC7063;
}
.A19_label{
background-color: #FADBD8;
}

.A28:checked + .A28_label{
background-color: #BB8FCE;
}
.A28_label{
background-color: #EBDEF0;
}

.A2:checked + .A2_label{
background-color: #7FB3D5;
}
.A2_label{
background-color: #D4E6F1;
}

.autre:checked + .autre_label{
background-color: #AAB7B8;
}
.autre_label{
background-color: #EAEDED;
}

.legend{
outline:solid 2px;
outline-color:currentcolor;
-moz-border-radius: 0.2rem;
-webkit-border-radius: 0.2rem;
border-radius: 0.2rem;
padding:3px;
}
