<!doctype html>
<html>
  <head>
    <title>Hla Graph</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
  <script>
         function myFunc(vars) {
             return vars
         }
  </script>
    <div class="container" style="width:85% !important;">
<!--        <div class="jumbotron">-->
            <h1 style="text-align: center">HLA Graph</h1>
            <hr/>

{% if allele_type %}
        <script>
            file_html = myFunc({{file_html|tojson}})
        </script>
        <br/>
        <div class="row">
            <div class="dropdown col-2">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Allele
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dpdown">
                <a class="dropdown-item disable" href="#">HLA-DP</a>
              </div>
            </div>
            <div class="col-8" style="text-align: center">
                <h3 id="title">HLA-DP</h3>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" onclick="window.location.href='../result/html_table/'+file_html" style="float: right" data-toggle="tooltip" data-placement="right" title="Show alleles carrying positive eplets.">
                    View all eplets</button>
            </div>
        </div>

        <br/>
            <div style="border: solid 1px;">
                <a href="{{ url_for('static', filename=data[2]) }}" id="img_link">
                    <img src="{{ url_for('static', filename=data[2]) }}" width="100%" height="100%" class="img-responsive" id="graph"/>
                </a>
            </div>
            <br/>
            <div class="row">
                <div class="col-2">
                  <button type="button" class="btn btn-outline-info"><a href="{{ url_for('static', filename='raw_data/'+file) }}" download>Download raw data</a></button>
                </div>
                <div class="col-8" style="text-align: center">
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-secondary" onclick="window.location.href='https://github.com/cedricusureau/HLA_graph#table-of-content'" style="float: right">Help</button>
                </div>
            </div>
        <br/>
    {% else %}
                    <form method="POST" enctype="multipart/form-data">
                <h5 align="left">Select positive antigen :</h5>
                <br/>
                <div class="form-group">
                    <div class="form-group" >
                        <div class="form-group" >
<div class="form-group" >
                        	<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*01:03DPB1*01:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*01:03/DPB1*01:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*02:01DPB1*01:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*02:01/DPB1*01:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*01:03DPB1*02:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*01:03/DPB1*02:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*02:02DPB1*05:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*02:02/DPB1*05:01</label>
</div></div><div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*01:03DPB1*03:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*01:03/DPB1*03:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*01:05DPB1*03:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*01:05/DPB1*03:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*02:01DPB1*03:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*02:01/DPB1*03:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*01:03DPB1*04:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*01:03/DPB1*04:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*01:03DPB1*04:02" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*01:03/DPB1*04:02</label>
</div></div><div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*02:01DPB1*05:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*02:01/DPB1*05:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*02:01DPB1*06:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*02:01/DPB1*06:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*01:03DPB1*06:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*01:03/DPB1*06:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*02:01DPB1*09:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*02:01/DPB1*09:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*02:02DPB1*10:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*02:02/DPB1*10:01</label>
</div></div><div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*01:03DPB1*11:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*01:03/DPB1*11:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*01:03DPB1*28:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*01:03/DPB1*28:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*02:01DPB1*13:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*02:01/DPB1*13:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*02:02DPB1*13:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*02:02/DPB1*13:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*03:01DPB1*13:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*03:01/DPB1*13:01</label>
</div></div><div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*02:01DPB1*14:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*02:01/DPB1*14:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*02:01DPB1*15:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*02:01/DPB1*15:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*02:01DPB1*17:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*02:01/DPB1*17:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*02:01DPB1*18:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*02:01/DPB1*18:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*01:05DPB1*18:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*01:05/DPB1*18:01</label>
</div></div><div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*01:04DPB1*18:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*01:04/DPB1*18:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*01:03DPB1*19:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*01:03/DPB1*19:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*03:01DPB1*20:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*03:01/DPB1*20:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*01:03DPB1*23:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*01:03/DPB1*23:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*01:05DPB1*28:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*01:05/DPB1*28:01</label>
</div></div><div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*04:01DPB1*28:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*04:01/DPB1*28:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="DPA1*02:02DPB1*11:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">DPA1*02:02/DPB1*11:01</label>
</div></div>
</div></form>
            </div>
                    <div style="float: right">
                        <button type="submit" class="btn btn-primary">Analyze</button>
                    </div>
                </div>

  <br/><br/>

    {% endif %}
    </div>
<!--</div>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <script>
        $('#dpdown a').on('click', function(){
            allele = $(this).html()
            data = myFunc( {{ data|tojson }} )
            if ((allele==="A") || (allele==="DR")) {
                path = {{ url_for('static', filename=data[0])|tojson }}
            }else if ((allele==="B")||(allele==="DQ")){
                path = {{ url_for('static', filename=data[1])|tojson }}
            }else {
                path = {{ url_for('static', filename=data[2])|tojson }}
            }
            $("#graph").attr("src",path);
            $("#img_link").attr("href", path);
            $("#title").text("HLA "+allele);

        });

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>

  </body>
</html>