<!doctype html>
<html>
  <head>
       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Hla Graph</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
  <script>
         function myFunc(vars) {
             return vars
         }
  </script>
    <div class="container" style="width:75% !important;">
<!--        <div class="jumbotron">-->
            <h1 style="text-align: center">HLA Graph</h1>
            <hr/>


{% if allele_type %}
        <script>
            file_html = myFunc({{file_html|tojson}})
        </script>
        <br/>
        <div class="row">
            <div class="dropdown col-2">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Allele
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dpdown">
                <a class="dropdown-item disable" href="#">HLA-B</a>
              </div>
            </div>
            <div class="col-8" style="text-align: center">
                <h3 id="title">HLA-B</h3>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" onclick="window.location.href='../result/html_table/'+file_html" style="float: right" data-toggle="tooltip" data-placement="right" title="Show alleles carrying positive eplets.">
                    View all eplets</button>
            </div>
        </div>

        <br/>
            <div style="border: solid 1px;">
                <a href="{{ url_for('static', filename=data[1]) }}" id="img_link">
                    <img src="{{ url_for('static', filename=data[1]) }}" width="100%" height="100%" class="img-responsive" id="graph"/>
                </a>
            </div>
            <br/>
            <div class="row">
                <div class="col-2">
                  <button type="button" class="btn btn-outline-info"><a href="{{ url_for('static', filename='raw_data/'+file) }}" download>Download raw data</a></button>
                </div>
                <div class="col-8" style="text-align: center">
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-secondary" onclick="window.location.href='https://github.com/cedricusureau/HLA_graph#table-of-content'" style="float: right">Help</button>
                </div>
            </div>
        <br/>
    {% else %}
                <form method="POST" enctype="multipart/form-data">
                <h5 align="left">Select positive antigen :</h5>
                <br/>
                <div class="form-group">
                    <div class="form-group" >
                        <div class="form-group" >
<div class="form-group" >
                        	<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*27:05" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*27:05</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*07:02" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*07:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*08:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*08:01</label>
            </div><div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*13:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*13:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*13:02" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*13:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*14:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*14:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*14:02" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*14:02</label>
</div></div><div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*15:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*15:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*15:02" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*15:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*15:03" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*15:03</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*15:10" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*15:10</label>
            </div><div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*15:11" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*15:11</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*15:12" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*15:12</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*15:13" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*15:13</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*15:16" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*15:16</label>
</div></div><div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*18:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*18:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*27:08" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*27:08</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*35:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*35:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*37:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*37:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*38:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*38:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*39:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*39:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*40:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*40:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*40:02" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*40:02</label>
</div><div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*40:06" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*40:06</label>
</div></div><div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*41:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*41:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*42:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*42:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*44:02" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*44:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*44:03" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*44:03</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*45:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*45:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*46:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*46:01</label>
</div></div><div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*47:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*47:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*48:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*48:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*49:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*49:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*50:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*50:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*51:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*51:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*51:02" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*51:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*52:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*52:01</label>
</div></div><div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*53:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*53:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*54:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*54:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*55:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*55:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*56:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*56:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*57:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*57:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*57:03" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*57:03</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*58:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*58:01</label>
            </div></div><div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*59:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*59:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*67:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*67:01</label>
</div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*73:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*73:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*78:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*78:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*81:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*81:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="B*82:01" value="True">
            <label class="form-check-label" for="inlineCheckbox1">B*82:01</label>
            </div>


</div>
</div></form>
            </div>
                    <div style="float: right">
                        <button type="submit" class="btn btn-primary">Analyze</button>
                    </div>
                </div>

  <br/><br/>
    {% endif %}
    </div>
<!--</div>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <script>
        $('#dpdown a').on('click', function(){
            allele = $(this).html()
            data = myFunc( {{ data|tojson }} )
            if ((allele==="A") || (allele==="DR")) {
                path = {{ url_for('static', filename=data[0])|tojson }}
            }else if ((allele==="B")||(allele==="DQ")){
                path = {{ url_for('static', filename=data[1])|tojson }}
            }else {
                path = {{ url_for('static', filename=data[2])|tojson }}
            }
            $("#graph").attr("src",path);
            $("#img_link").attr("href", path);
            $("#title").text("HLA "+allele);

        });

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>

  </body>
</html>