<!doctype html>
<html>
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Hla Graph</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
  <script>
         function myFunc(vars) {
             return vars
         }
  </script>

    <div class="container" style="width:85% !important;">
<!--        <div class="jumbotron">-->
            <h1 style="text-align: center">HLA Graph</h1>
            <hr/>

{% if allele_type %}
        <script>
            file_html = myFunc({{file_html|tojson}})
        </script>
        <br/>
        <div class="row">
            <div class="dropdown col-2">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Allele
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dpdown">
                <a class="dropdown-item disable" href="#">HLA-DQ</a>
              </div>
            </div>
            <div class="col-7" style="text-align: center">
                <h3 id="title">HLA-DQ</h3>
            </div>
            <div class="btn-group col-3" role="group" >
                <button class="btn btn-primary" onclick="window.location.href='../result/html_table_light/'+file_html" style="float: right" data-toggle="tooltip" data-placement="left" title="Show positive eplets">
                    View positives eplets</button>
                <button class="btn btn-primary" onclick="window.location.href='../result/html_table/'+file_html" style="float: right" data-toggle="tooltip" data-placement="right" title="Show alleles carrying positive eplets.">
                    View all alleles</button>
            </div>
        </div>

        <br/>
            <div style="border: solid 1px;">
                <a href="{{ url_for('static', filename=data[1]) }}" id="img_link">
                    <img src="{{ url_for('static', filename=data[1]) }}" width="100%" height="100%" class="img-responsive" id="graph"/>
                </a>
            </div>
            <br/>
            <div class="row">
                <div class="col-2">
                  <button type="button" class="btn btn-outline-info"><a href="{{ url_for('static', filename='raw_data/'+file) }}" download>Download raw data</a></button>
                </div>
                <div class="col-8" style="text-align: center">
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-secondary" onclick="window.location.href='https://github.com/cedricusureau/HLA_graph#table-of-content'" style="float: right">Help</button>
                </div>
            </div>
        <br/>
    {% else %}
            <form method="POST" enctype="multipart/form-data">
                <h5 align="left">Select positive antigen :</h5>
                <br/>
                <div class="form-group">
                    <div class="form-group" >
                        <div class="form-group" >
<h5 align="left">DQ2 :</h5>
                            <div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input B17" type="checkbox" id="inlineCheckbox11" name="DQA1*02:01DQB1*02:01" value="True">
            <label class="form-check-label B17_label" for="inlineCheckbox11">DQA1*02:01/DQB1*02:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B17" type="checkbox" id="inlineCheckbox12" name="DQA1*03:01DQB1*02:01" value="True">
            <label class="form-check-label B17_label" for="inlineCheckbox12">DQA1*03:01/DQB1*02:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B17" type="checkbox" id="inlineCheckbox13" name="DQA1*04:01DQB1*02:01" value="True">
            <label class="form-check-label B17_label" for="inlineCheckbox13">DQA1*04:01/DQB1*02:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B17" type="checkbox" id="inlineCheckbox14" name="DQA1*05:01DQB1*02:01" value="True">
            <label class="form-check-label B17_label" for="inlineCheckbox14">DQA1*05:01/DQB1*02:01</label>
            </div><div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input B17" type="checkbox" id="inlineCheckbox15" name="DQA1*02:01DQB1*02:02" value="True">
            <label class="form-check-label B17_label" for="inlineCheckbox15">DQA1*02:01/DQB1*02:02</label>
</div></div></div>
<h5 align="left">DQ4 :</h5>
                            <div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input B5" type="checkbox" id="inlineCheckbox16" name="DQA1*02:01DQB1*04:01" value="True">
            <label class="form-check-label B5_label" for="inlineCheckbox16">DQA1*02:01/DQB1*04:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B5" type="checkbox" id="inlineCheckbox17" name="DQA1*03:03DQB1*04:01" value="True">
            <label class="form-check-label B5_label" for="inlineCheckbox17">DQA1*03:03/DQB1*04:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B5" type="checkbox" id="inlineCheckbox18" name="DQA1*02:01DQB1*04:02" value="True">
            <label class="form-check-label B5_label" for="inlineCheckbox18">DQA1*02:01/DQB1*04:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B5" type="checkbox" id="inlineCheckbox19" name="DQA1*04:01DQB1*04:02" value="True">
            <label class="form-check-label B5_label" for="inlineCheckbox19">DQA1*04:01/DQB1*04:02</label>
</div></div>
                            <h5 align="left">DQ5 :</h5>
                            <div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input B16" type="checkbox" id="inlineCheckbox10" name="DQA1*01:01DQB1*05:01" value="True">
            <label class="form-check-label B16_label" for="inlineCheckbox10">DQA1*01:01/DQB1*05:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B16" type="checkbox" id="inlineCheckbox111" name="DQA1*01:02DQB1*05:02" value="True">
            <label class="form-check-label B16_label" for="inlineCheckbox111">DQA1*01:02/DQB1*05:02</label>
</div></div>
                            <h5 align="left">DQ6 :</h5>
                            <div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input B15" type="checkbox" id="inlineCheckbox112" name="DQA1*01:03DQB1*06:01" value="True">
            <label class="form-check-label B15_label" for="inlineCheckbox112">DQA1*01:03/DQB1*06:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B15" type="checkbox" id="inlineCheckbox113" name="DQA1*01:02DQB1*06:02" value="True">
            <label class="form-check-label B15_label" for="inlineCheckbox113">DQA1*01:02/DQB1*06:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B15" type="checkbox" id="inlineCheckbox114" name="DQA1*01:01DQB1*06:02" value="True">
            <label class="form-check-label B15_label" for="inlineCheckbox114">DQA1*01:01/DQB1*06:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B15" type="checkbox" id="inlineCheckbox115" name="DQA1*01:03DQB1*06:03" value="True">
            <label class="form-check-label B15_label" for="inlineCheckbox115">DQA1*01:03/DQB1*06:03</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B15" type="checkbox" id="inlineCheckbox116" name="DQA1*01:02DQB1*06:04" value="True">
            <label class="form-check-label B15_label" for="inlineCheckbox116">DQA1*01:02/DQB1*06:04</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B15" type="checkbox" id="inlineCheckbox117" name="DQA1*01:02DQB1*06:09" value="True">
            <label class="form-check-label B15_label" for="inlineCheckbox117">DQA1*01:02/DQB1*06:09</label>
</div></div>
                            <h5 align="left">DQ7 :</h5>
                            <div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input B40" type="checkbox" id="inlineCheckbox118" name="DQA1*03:01DQB1*03:01" value="True">
            <label class="form-check-label B40_label" for="inlineCheckbox118">DQA1*03:01/DQB1*03:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B40" type="checkbox" id="inlineCheckbox119" name="DQA1*02:01DQB1*03:01" value="True">
            <label class="form-check-label B40_label" for="inlineCheckbox119">DQA1*02:01/DQB1*03:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B40" type="checkbox" id="inlineCheckbox120" name="DQA1*05:03DQB1*03:01" value="True">
            <label class="form-check-label B40_label" for="inlineCheckbox120">DQA1*05:03/DQB1*03:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B40" type="checkbox" id="inlineCheckbox121" name="DQA1*05:05DQB1*03:01" value="True">
            <label class="form-check-label B40_label" for="inlineCheckbox121">DQA1*05:05/DQB1*03:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B40" type="checkbox" id="inlineCheckbox122" name="DQA1*06:01DQB1*03:01" value="True">
            <label class="form-check-label B40_label" for="inlineCheckbox122">DQA1*06:01/DQB1*03:01</label>
</div></div>
                            <h5 align="left">DQ8 :</h5>
                            <div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input B40" type="checkbox" id="inlineCheckbox123" name="DQA1*02:01DQB1*03:02" value="True">
            <label class="form-check-label B40_label" for="inlineCheckbox123">DQA1*02:01/DQB1*03:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B40" type="checkbox" id="inlineCheckbox124" name="DQA1*03:01DQB1*03:02" value="True">
            <label class="form-check-label B40_label" for="inlineCheckbox124">DQA1*03:01/DQB1*03:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B40" type="checkbox" id="inlineCheckbox125" name="DQA1*03:02DQB1*03:02" value="True">
            <label class="form-check-label B40_label" for="inlineCheckbox125">DQA1*03:02/DQB1*03:02</label>
</div></div>
                            <h5 align="left">DQ9 :</h5>
                            <div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input B40" type="checkbox" id="inlineCheckbox126" name="DQA1*02:01DQB1*03:03" value="True">
            <label class="form-check-label B40_label" for="inlineCheckbox126">DQA1*02:01/DQB1*03:03</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B40" type="checkbox" id="inlineCheckbox127" name="DQA1*03:01DQB1*03:03" value="True">
            <label class="form-check-label B40_label" for="inlineCheckbox127">DQA1*03:01/DQB1*03:03</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input B40" type="checkbox" id="inlineCheckbox128" name="DQA1*03:02DQB1*03:03" value="True">
            <label class="form-check-label B40_label" for="inlineCheckbox128">DQA1*03:02/DQB1*03:03</label>
</div></div>
</div></form>
            </div>
                    <div style="float: right">
                        <button type="submit" value="bonjour" name="test" class="btn btn-primary">Analyze</button>
                    </div>
                </div>

  <br/><br/>


    {% endif %}
    </div>
<!--</div>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <script>
        $('#dpdown a').on('click', function(){
            allele = $(this).html()
            data = myFunc( {{ data|tojson }} )
            if ((allele==="A") || (allele==="DR")) {
                path = {{ url_for('static', filename=data[0])|tojson }}
            }else if ((allele==="B")||(allele==="DQ")){
                path = {{ url_for('static', filename=data[1])|tojson }}
            }else {
                path = {{ url_for('static', filename=data[2])|tojson }}
            }
            $("#graph").attr("src",path);
            $("#img_link").attr("href", path);
            $("#title").text("HLA "+allele);

        });

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>

  </body>
</html>