<!doctype html>
<html>
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Hla Graph</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
  <script>
         function myFunc(vars) {
             return vars
         }
  </script>
    <div class="container" style="width:75% !important;">
<!--        <div class="jumbotron">-->
            <h1 style="text-align: center">HLA Graph</h1>
            <hr/>


{% if allele_type %}
        <script>
            file_html = myFunc({{file_html|tojson}})
        </script>
        <br/>
        <div class="row">
            <div class="dropdown col-2">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Allele
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dpdown">
                <a class="dropdown-item disable" href="#">HLA-DR</a>
              </div>
            </div>
            <div class="col-7" style="text-align: center">
                <h3 id="title">HLA-DR</h3>
            </div>
            <div class="btn-group col-3" role="group" >
                <button class="btn btn-primary" onclick="window.location.href='../result/html_table_light/'+file_html" style="float: right" data-toggle="tooltip" data-placement="left" title="Show positive eplets">
                    View positives eplets</button>
                <button class="btn btn-primary" onclick="window.location.href='../result/html_table/'+file_html" style="float: right" data-toggle="tooltip" data-placement="right" title="Show alleles carrying positive eplets.">
                    View all alleles</button>
            </div>
        </div>

        <br/>
            <div style="border: solid 1px;">
                <a href="{{ url_for('static', filename=data[0]) }}" id="img_link">
                    <img src="{{ url_for('static', filename=data[0]) }}" width="100%" height="100%" class="img-responsive" id="graph"/>
                </a>
            </div>
            <br/>
            <div class="row">
                <div class="col-2">
                  <button type="button" class="btn btn-outline-info"><a href="{{ url_for('static', filename='raw_data/'+file) }}" download>Download raw data</a></button>
                </div>
                <div class="col-8" style="text-align: center">
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-secondary" onclick="window.location.href='https://github.com/cedricusureau/HLA_graph#table-of-content'" style="float: right">Help</button>
                </div>
            </div>
        <br/>
    {% else %}
             <form method="POST" enctype="multipart/form-data">
                <h5 align="left">Select positive antigen :</h5>
                <br/>
                <div class="form-group">
                    <div class="form-group" >
    <div class="form-group" >
        <h5 align="left">DRB1:</h5>
<div class="form-check form-check-inline">
            <input class="form-check-input autre" type="checkbox" id="inlineCheckbox11" name="DRB1*01:01" value="True">
            <label class="form-check-label autre_label" for="inlineCheckbox11">DRB1*01:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input autre" type="checkbox" id="inlineCheckbox12" name="DRB1*01:02" value="True">
            <label class="form-check-label autre_label" for="inlineCheckbox12">DRB1*01:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input autre" type="checkbox" id="inlineCheckbox13" name="DRB1*01:03" value="True">
            <label class="form-check-label autre_label" for="inlineCheckbox13">DRB1*01:03</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A2" type="checkbox" id="inlineCheckbox14" name="DRB1*03:01" value="True">
            <label class="form-check-label A2_label" for="inlineCheckbox14">DRB1*03:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A2" type="checkbox" id="inlineCheckbox15" name="DRB1*03:02" value="True">
            <label class="form-check-label A2_label" for="inlineCheckbox15">DRB1*03:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A2" type="checkbox" id="inlineCheckbox153" name="DRB1*03:03" value="True">
            <label class="form-check-label A2_label" for="inlineCheckbox153">DRB1*03:03</label>
            </div>    </div>
                        <div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input A28" type="checkbox" id="inlineCheckbox16" name="DRB1*04:01" value="True">
            <label class="form-check-label A28_label" for="inlineCheckbox16">DRB1*04:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A28" type="checkbox" id="inlineCheckbox17" name="DRB1*04:02" value="True">
            <label class="form-check-label A28_label" for="inlineCheckbox17">DRB1*04:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A28" type="checkbox" id="inlineCheckbox18" name="DRB1*04:03" value="True">
            <label class="form-check-label A28_label" for="inlineCheckbox18">DRB1*04:03</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A28" type="checkbox" id="inlineCheckbox19" name="DRB1*04:04" value="True">
            <label class="form-check-label A28_label" for="inlineCheckbox19">DRB1*04:04</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A28" type="checkbox" id="inlineCheckbox110" name="DRB1*04:05" value="True">
            <label class="form-check-label A28_label" for="inlineCheckbox110">DRB1*04:05</label>
</div>
<div class="form-check form-check-inline">
            <input class="form-check-input autre" type="checkbox" id="inlineCheckbox111" name="DRB1*07:01" value="True">
            <label class="form-check-label autre_label" for="inlineCheckbox111">DRB1*07:01</label>
            </div>

<div class="form-check form-check-inline">
            <input class="form-check-input autre" type="checkbox" id="inlineCheckbox112" name="DRB1*08:01" value="True">
            <label class="form-check-label autre_label" for="inlineCheckbox112">DRB1*08:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input autre" type="checkbox" id="inlineCheckbox1122" name="DRB1*08:02" value="True">
            <label class="form-check-label autre_label" for="inlineCheckbox1122">DRB1*08:02</label>
            </div>                        </div>    <div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input autre" type="checkbox" id="inlineCheckbox113" name="DRB1*09:01" value="True">
            <label class="form-check-label autre_label" for="inlineCheckbox113">DRB1*09:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input autre" type="checkbox" id="inlineCheckbox115" name="DRB1*10:01" value="True">
            <label class="form-check-label autre_label" for="inlineCheckbox115">DRB1*10:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A10" type="checkbox" id="inlineCheckbox116" name="DRB1*11:01" value="True">
            <label class="form-check-label A10_label" for="inlineCheckbox116">DRB1*11:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A10" type="checkbox" id="inlineCheckbox1199" name="DRB1*11:03" value="True">
            <label class="form-check-label A10_label" for="inlineCheckbox1199">DRB1*11:03</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A10" type="checkbox" id="inlineCheckbox117" name="DRB1*11:04" value="True">
            <label class="form-check-label A10_label" for="inlineCheckbox117">DRB1*11:04</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A10" type="checkbox" id="inlineCheckbox118" name="DRB1*12:01" value="True">
            <label class="form-check-label A10_label" for="inlineCheckbox118">DRB1*12:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A10" type="checkbox" id="inlineCheckbox119" name="DRB1*12:02" value="True">
            <label class="form-check-label A10_label" for="inlineCheckbox119">DRB1*12:02</label>
</div></div>  <div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input A9" type="checkbox" id="inlineCheckbox120" name="DRB1*13:01" value="True">
            <label class="form-check-label A9_label" for="inlineCheckbox120">DRB1*13:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A9" type="checkbox" id="inlineCheckbox121" name="DRB1*13:03" value="True">
            <label class="form-check-label A9_label" for="inlineCheckbox121">DRB1*13:03</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A9" type="checkbox" id="inlineCheckbox12145" name="DRB1*13:05" value="True">
            <label class="form-check-label A9_label" for="inlineCheckbox12145">DRB1*13:05</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A9" type="checkbox" id="inlineCheckbox122" name="DRB1*14:01" value="True">
            <label class="form-check-label A9_label" for="inlineCheckbox122">DRB1*14:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A9" type="checkbox" id="inlineCheckbox123" name="DRB1*14:03" value="True">
            <label class="form-check-label A9_label" for="inlineCheckbox123">DRB1*14:03</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A9" type="checkbox" id="inlineCheckbox124" name="DRB1*14:04" value="True">
            <label class="form-check-label A9_label" for="inlineCheckbox124">DRB1*14:04</label>
            </div></div><div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input A19" type="checkbox" id="inlineCheckbox125" name="DRB1*15:01" value="True">
            <label class="form-check-label A19_label" for="inlineCheckbox125">DRB1*15:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A19" type="checkbox" id="inlineCheckbox126" name="DRB1*15:02" value="True">
            <label class="form-check-label A19_label" for="inlineCheckbox126">DRB1*15:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A19" type="checkbox" id="inlineCheckbox127" name="DRB1*15:03" value="True">
            <label class="form-check-label A19_label" for="inlineCheckbox127">DRB1*15:03</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A19" type="checkbox" id="inlineCheckbox128" name="DRB1*16:01" value="True">
            <label class="form-check-label A19_label" for="inlineCheckbox128">DRB1*16:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input A19" type="checkbox" id="inlineCheckbox129" name="DRB1*16:02" value="True">
            <label class="form-check-label A19_label" for="inlineCheckbox129">DRB1*16:02</label>
</div></div>  <h5 align="left">Associated DRB3/4/5 :</h5>
                        <div class="form-group" >
<div class="form-check form-check-inline">
            <input class="form-check-input autre" type="checkbox" id="inlineCheckbox130" name="DRB3*01:01" value="True">
            <label class="form-check-label autre_label" for="inlineCheckbox130">DRB3*01:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input autre" type="checkbox" id="inlineCheckbox131" name="DRB3*02:02" value="True">
            <label class="form-check-label autre_label" for="inlineCheckbox131">DRB3*02:02</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input autre" type="checkbox" id="inlineCheckbox132" name="DRB3*03:01" value="True">
            <label class="form-check-label autre_label" for="inlineCheckbox132">DRB3*03:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input autre" type="checkbox" id="inlineCheckbox133" name="DRB4*01:01" value="True">
            <label class="form-check-label autre_label" for="inlineCheckbox133">DRB4*01:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input autre" type="checkbox" id="inlineCheckbox135" name="DRB5*01:01" value="True">
            <label class="form-check-label autre_label" for="inlineCheckbox135">DRB5*01:01</label>
            </div>
<div class="form-check form-check-inline">
            <input class="form-check-input autre" type="checkbox" id="inlineCheckbox136" name="DRB5*02:02" value="True">
            <label class="form-check-label autre_label" for="inlineCheckbox136">DRB5*02:02</label>
</div>

</div></form>
            </div>
                    <div style="float: right">
                        <button type="submit" class="btn btn-primary">Analyze</button>
                    </div>
                </div>  <br/>
                            <div class="form-group" >
            <font size="+1"> Legend:  </font>
                                <div class="form-check form-check-inline"><label class="legend A19_label">DR2</label></div>
            <div class="form-check form-check-inline"><label class="legend A2_label">DR3</label></div>
            <div class="form-check form-check-inline"><label class="legend A28_label">DR4</label></div>
                                 <div class="form-check form-check-inline"><label class="legend A10_label">DR5</label></div>
            <div class="form-check form-check-inline"><label class="legend A9_label">DR6</label></div>



             <div class="form-check form-check-inline"><label class="legend autre_label">Others</label></div>

            </div>
<br/>
    {% endif %}
    </div>
<!--</div>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <script>
        $('#dpdown a').on('click', function(){
            allele = $(this).html()
            data = myFunc( {{ data|tojson }} )
            if ((allele==="A") || (allele==="DR")) {
                path = {{ url_for('static', filename=data[0])|tojson }}
            }else if ((allele==="B")||(allele==="DQ")){
                path = {{ url_for('static', filename=data[1])|tojson }}
            }else {
                path = {{ url_for('static', filename=data[2])|tojson }}
            }
            $("#graph").attr("src",path);
            $("#img_link").attr("href", path);
            $("#title").text("HLA "+allele);

        });

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>

  </body>
</html>