<!doctype html>
<html>
  <head>
    <title>Hla Graph</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
  <script>
         function myFunc(vars) {
             return vars
         }
  </script>
    <div class="container" style="width:75% !important;">
<!--        <div class="jumbotron">-->
            <h1 style="text-align: center">HLA Graph</h1>
            <hr/>
            <form method="POST" enctype="multipart/form-data">
                <div class="custom-file form-group" data-toggle="tooltip" data-placement="bottom" title="Upload table (.xls)">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                    <input type="file" class="custom-file-input border" name="file" id="customFile">
                </div>
                <br/><br/>
                <div class="form-group">
                    <label for="tresh">Threshold:
                        <input type="number" id="tresh" name="tresh" placeholder="1000" value="1000" min="300" max="3000" step="100" data-toggle="tooltip" data-placement="bottom" title="MFI values below are negative">
                    </label>
                    <div style="float: right">
                        <button type="submit" class="btn btn-primary">Analyze</button>
                    </div>
                </div>
            </form>








{% if allele_type %}
        <script>
            file_html = myFunc({{file_html|tojson}})
        </script>
        <br/>
        <div class="row">
            <div class="dropdown col-2">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose Allele
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dpdown">
                <a class="dropdown-item" href="#">{{allele_type[0]}}</a>
                <a class="dropdown-item" href="#">{{allele_type[1]}}</a>
                <a class="dropdown-item" href="#">{{allele_type[2]}}</a>
              </div>
            </div>
            <div class="col-8" style="text-align: center">
                <h3 id="title">HLA {{allele_type[0]}}</h3>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" onclick="window.location.href='result/html_table/'+file_html" style="float: right" data-toggle="tooltip" data-placement="right" title="Show alleles carrying positive eplets.">
                    View all eplets</button>
            </div>
        </div>




        <br/>
            <div style="border: solid 1px;">
                <a href="{{ url_for('static', filename=data[0]) }}" id="img_link">
                    <img src="{{ url_for('static', filename=data[0]) }}" width="100%" height="100%" class="img-responsive" id="graph"/>
                </a>
            </div>
            <br/>
            <div class="row">
                <div class="col-2">
                  <button type="button" class="btn btn-outline-info"><a href="{{ url_for('static', filename='raw_data/'+file) }}" download>Download raw data</a></button>
                </div>
                <div class="col-8" style="text-align: center">
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-secondary" onclick="window.location.href='https://github.com/cedricusureau/HLA_graph'" style="float: right">Help</button>
                </div>
            </div>
        <br/>
    {% else %}
    <h4 style="color: #1E90FF">Try example files :</h4>
        <div class="row">
                <div class="btn-group col-4">
                    <button type="button" class="btn btn-outline-info"><a href="{{ url_for('static', filename='test_data/SA1.xls') }}" download>Download Example SA1</a></button>
                    <button type="button" class="btn btn-outline-info"><a href="{{ url_for('static', filename='test_data/SA2.xls') }}" download>Download Example SA2</a></button>
                </div>
                <div class="col-4" style="text-align: center">
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-secondary" onclick="window.location.href='https://github.com/cedricusureau/HLA_graph'" style="float: right">Help</button>
                </div>
            </div>

    {% endif %}
    </div>
<!--</div>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <script>
        $('#dpdown a').on('click', function(){
            allele = $(this).html()
            data = myFunc( {{ data|tojson }} )
            if ((allele==="A") || (allele==="DR")) {
                path = {{ url_for('static', filename=data[0])|tojson }}
            }else if ((allele==="B")||(allele==="DQ")){
                path = {{ url_for('static', filename=data[1])|tojson }}
            }else {
                path = {{ url_for('static', filename=data[2])|tojson }}
            }
            $("#graph").attr("src",path);
            $("#img_link").attr("href", path);
            $("#title").text("HLA "+allele);

        });

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>

  </body>
</html>