<!doctype html>
<html>
  <head>
    <title>Hla Graph</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <div class="jumbotron">
            <h1>File Upload</h1>
            <form method="POST" action="" enctype="multipart/form-data">
              <p><input type="file" name="file"></p>
              <p><input type="submit" value="Submit"></p>
            </form>

            <div>
                <!--<object type="image/svg+xml" data="image.svg">-->
                <!-- Your fall back here -->
                    <img src="{{ url_for('static', filename=data[0]) }}" width="1000" height="600" />
                    <br/>
                    <img src="{{ url_for('static', filename=data[1]) }}" width="1000" height="600" />
                    <br/>
                    <img src="{{ url_for('static', filename=data[2]) }}" width="1000" height="600" />
                    <br/>
                <!--</object>-->
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>